::-webkit-scrollbar {
   width: 7px;
   
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgb(122, 122, 122); 
   border-radius: 10px;
   
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: rgb(104, 104, 104); 
 }


/*.................home section editing......................................................................*/

.home{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
   background-size: cover;
   width:100%;
   height:100vh;
   padding-top: 20px;
}

.home h1{
   color:white;
   padding-top: 90px;
   font-size: 75px;
   padding-right: 200px;
   padding-left: 30px;
}

.home h2{
   color:rgb(192, 192, 192);
   padding-left: 460px;
   padding-top: 60px;
}

.home button {
   padding: 5px 15px;
   letter-spacing: 1px;
   background-color: rgb(255, 0, 0);
   color:white;
   font-size: 21px;
   border-style: none;
   transition-duration: 0.4s;
}
.home button:hover{
background-color: white;
 color:black;
}

.home h3{
   padding-left: 1000px;
   padding-top: 30px;
}
/*.................End of home editing.......................................................--------------...............*/





/*.................resolution for home editing.......................................................-------...............*/
@media (min-width: 320px) and (max-width: 1023px){
.home{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
   background-size: cover;
   width:100%;
   height:100vh;
}
   .home h3{
   padding-left: 100px;
   padding-top: 30px;
}

.home h1{
   font-size:30px;
   padding-right: 20px;
}
.home h2{
   color:rgb(192, 192, 192);
   padding-left: 30px;
   padding-top: 60px;
   padding-right: 10px;
   font-size:15px;
}
}



@media (min-width:1024px) and (max-width:1439px){
.home{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
   background-size: fit;
   width:100%;
   height:100vh;
}
.home h2{
   color:rgb(192, 192, 192);
   padding-left: 500px;
   padding-top: 50px;
   padding-right: 10px;
}
.home h3{
   padding-left: 750px;
   padding-top: 30px;
}
}


/*.................End of home resolution editing......................................................................*/








/*.................start of artists editing.....................................................................*/

#slider, .wrap, .slide-content{
   margin:0;
   padding:0;
   font-family: Cabin, Helvetica, sans-serif;
   width:100%;
   height:100vh;
   overflow-x:hidden;
}
.wrap{position:relative;}

.slide{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   transition: all 0s;
}

.slide1{background-image: url('images/slide1.jpg');}
.slide2{background-image: url('images/slide2.jpg');}
.slide3{background-image: url('images/slide3.jpg');}
.slide4{background-image: url('images/slide4.jpg');}
.slide5{background-image: url('images/slide5.jpg');}

.slide-content{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.slide-content span{
   font-size: 5rem;
   color:#fff;
   background-color:rgba(0,0,0, .6);
   padding:10px 20px;
}

.dir-control{
   cursor: pointer;
   position:absolute;
   top:50%;
   margin-top:-30px;
   width:0;
   height:0;
   z-index:5;
}
.fa {
 display:inline-block;
  line-height: 50px;
  background-color:rgba(0,0,0, .3);
  width:50px;
  height:56px;
  color:white;
  text-align: center;
  vertical-align: bottom;
}

#dir-control-left{
   left:0;
   margin-left:30px;
}

#dir-control-right{
   right:0;
   margin-right:60px;
}
.slider-active{
   visibility:hidden;
   opacity:0;
}
.slide.slide-is-active{
   visibility:visible;
   opacity: 1;
}

.slide-transition{
   transition: all .5s ease-in-out;
}


/*.................endof artists editing.....................................................................*/

/*.................start of artists resolution.....................................................................*/


@media (min-width: 320px) and (max-width: 1023px){
#slider, .wrap{
   margin:0;
   padding:0;
   font-family: Cabin, Helvetica, sans-serif;
   width:100%;
   height:100vh;
   overflow-x:hidden;
}
}

/*.................-- end of artist resolution  .....................................................................*/

/*.................-- all sections  .....................................................................*/


.section-a {
 position: relative;
 background: url('https://www.pixelmusic.net/wp-content/uploads/2015/05/anime_music_wallpaper_pixelmusic.jpg') no-repeat bottom center/cover;
 height: 800px;;
}


.section-b {
 position: relative;
 background: url('https://www.ubackground.com/_ph/86/320633713.jpg') no-repeat bottom center/cover;
 height: 800px;;
}

.section-c {
 position: relative;
 background: url('https://png.pngtree.com/thumb_back/fw800/background/20200215/pngtree-neon-effect-stereo-gradient-background-image_329983.jpg') no-repeat bottom center/cover;
 height: 800px;;
}


.section-d {
 position: relative;
 background: url('https://i.redd.it/vwr7xn47pvk51.jpg') no-repeat bottom center/cover;
 height: 800px;;
}

.section-e {
 position: relative;
 background: url('https://image.freepik.com/free-vector/abstract-neon-squares-background-design_23-2148641173.jpg') no-repeat bottom center/cover;
 height: 800px;;
}

.section-f {
 position: relative;
 background: url('https://i.ytimg.com/vi/LpndyzrFjN8/maxresdefault.jpg') no-repeat bottom center/cover;
 height: 800px;;
}

.section-b-inner {
 color: #fff;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin: auto;
 max-width: 860px;
 padding: 5rem 0;
}

.section-b-inner h3 {
 font-size: 2rem;
}

.section-b-inner h2 {
 font-size: 5rem;
 padding-top: 60px;
}

.section-b-inner p {
 padding-top: 60px;
 font-size: 1.5rem;
}




.overlay {
 height: 100%;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
}

 @media (min-width: 320px) and (max-width: 1023px){
   .section-a h2 {
      font-size:20px;
     }
     

     .section-b h2{
      font-size:20px;
     }
     
     .section-c h2{
      font-size:20px;
     }
     
     
     .section-d h2{
      font-size:20px;
     }
     
     .section-e h2{
      font-size:20px;
     }
     
     .section-f h2{
      font-size:20px;
     }
     
 }



 /*.................--end of  all sections  .....................................................................*/








 










